.chat-widget-container {
  border: 1px solid #ddd;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: 300px; /* Fixed height for chat window */
  overflow: hidden;
}

.chat-messages {
  flex-grow: 1;
  padding: 1rem;
  overflow-y: auto;
  background-color: #f9f9f9;
}

.no-messages {
  text-align: center;
  color: #888;
  margin-top: 2rem;
}

.chat-message {
  background-color: #e9e9e9;
  padding: 0.5rem;
  border-radius: 5px;
  margin-bottom: 0.5rem;
}

.chat-input-form {
  display: flex;
  padding: 1rem;
  border-top: 1px solid #eee;
}

.chat-input-form input {
  flex-grow: 1;
  padding: 0.6rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 0.5rem;
}

.chat-input-form button {
  background-color: var(--primary-color);
  color: var(--background-color);
  border: none;
  padding: 0.6rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.chat-input-form button:hover {
  background-image: var(--hover-gradient);
}
