.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-image: var(--header-gradient);
  color: white;
  position: relative; /* Needed for absolute positioning of mobile menu */
}

.logo h1 {
  color: white;
  font-family: fantasy;
  font-weight: 500;
  margin: 0;
}

.nav-bar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-bar li {
  margin-left: 20px;
}

.nav-bar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 0.5rem 0.8rem; /* Add padding for better hover area */
  border-radius: 5px; /* Slightly rounded corners */
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
}

.nav-bar a:hover {
  color: var(--highlight-color);
  background-color: rgba(255, 255, 255, 0.2); /* Light background on hover */
}

/* Hamburger menu styles */
.hamburger-menu {
  display: none; /* Hidden by default on larger screens */
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 25px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 1000; /* Ensure it's above other content */
}

.hamburger-menu .bar {
  width: 30px;
  height: 4px;
  background-color: white;
  border-radius: 10px;
  transition: all 0.3s linear;
  position: relative;
  transform-origin: 1px;
}

.nav-link-button {
  color: white;
  text-decoration: none;
  background-color: var(--accent-color);
  font-weight: bold;
  border: none;
  padding: 0.5rem 0.8rem; /* Add padding for better hover area */
  border-radius: 5px; /* Slightly rounded corners */
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
}

/* Mobile navigation styles */
@media (max-width: 768px) {
  .nav-bar {
    display: none; /* Hide full nav by default on small screens */
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 100%; /* Position below the header */
    left: 0;
    background-color: var(--primary-color);
    box-shadow: 0 2px 5px var(--shadow-color);
    padding: 1rem 0;
  }

  .nav-bar.open {
    display: flex; /* Show when open */
  }

  .nav-bar ul {
    flex-direction: column;
    width: 100%;
  }

  .nav-bar li {
    margin: 0;
    text-align: center;
    padding: 0.8rem 0;
  }

  .nav-bar a {
    display: block;
    padding: 0.5rem 0;
  }

  .hamburger-menu {
    display: flex; /* Show hamburger on small screens */
  }
}
